doctype html
html
  head
    title FixtureAPI 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div FixtureAPI
      ul
        li ログイン
    block content
    script(src="/javascripts/bundle.js")