doctype html
html
  head
    title FixtureAPI 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-light.bg-light
      div.navbar-header
        a(href="/").navbar-brand.nav-link
          div.d-inline-block FixtureAPI
      ul.navbar-nav
        if user
          li.nav-item
            a(href="/logout").nav-link #{user.username} をログアウト
    block content
    script(src="/javascripts/bundle.js")