doctype html
html
  head
    title FixtureAPI 
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet",
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
    crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded-bottom.fixed-top
      a(href="/").navbar-brand.nav-link 
        div.d-inline-block FixtureAPI
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id='Navbar')
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          li.nav-item
            a(href="/manage").nav-link.d-inline-block.btn.btn-secondary 管理人ページ
          li.nav-item
            a(href="/").nav-link ログイン
    div.container-fluid
      div.row.flex-xl-nowrap
        div.col-12.col-md-3.align-self-start#sidemenu
          ul
            li
              a(href="/") サイドメニュー
              ul
                li 
                  a(href="/list") 試合一覧ページ
                li
                  a(href="/") チーム情報板
                li
                  a(href="/") 移籍情報板
        div.col-12.col-md-9.py-md-3.pl-md-5
          block content
    script(src="/javascripts/bundle.js")