doctype html
html
  head
    title FixtureAPI 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-light.bg-light
      div.navbar-header
        a(href="/").navbar-brand.nav-link
          div.d-inline-block FixtureAPI
      ul.navbar-nav
          li.nav-item
            a(href="/").nav-link チーム情報板
          li.nav-item
            a(href="/").nav-link 移籍情報板
    block content
    script(src="/javascripts/bundle.js")