extends layout

block content
  h1= title
  div
    button#csv-parse-button.btn.btn-warning.my-1 csvファイルをデータベースに保存する
  div
    a(href="/new").btn.btn-info 新しい予定
  form(method="post", action="/edit").form-inline.border
    label(for="fixtureId").sr-only fixtureId
    input(type="text" name="fixtureId" autocomplete="on" list="ID" placeholder="fixtureId" required)#fixtureId.form-control.my-1
    datalist(id="ID")
      each id in ID
        option(value=`${id}`)
    button(type="submit").btn.btn-success.my-1 日程を編集する
