extends layout

block content
  h1= title
  p Welcom to #{title}
  div
    button#csv-parse-button csvファイルをデータベースに保存する
    p
  div
    table(border="4" style="font-size: 20px;")
      tr
        td 
          a(href="/new") 新しい予定
  form(method="post", action="/edit")
    div.form-group
      label(for="fixtureId") fixtureId
      input(type="text" name="fixtureId" autocomplete="on" list="ID")#fixtureId
      datalist(id="ID")
        each id in ID
          option(value=`${id}`)
    div
      button(type="submit") 日程を編集する