extends layout

block content
  h1= title
  div.m-3
    button#csv-parse-button.btn.btn-warning.my-1.rounded-pill csvファイルをデータベースに保存する
  div.m-3
    a(href="/new").btn.btn-info.rounded-pill ＋ 新しい予定
  form(method="post", action="/edit").form-inline.col-8.my-3
    label(for="fixtureId").sr-only fixtureId
    input(type="text" name="fixtureId" autocomplete="on" list="ID" placeholder="fixtureId" required)#fixtureId.form-control.my-1.rounded-pill
    datalist(id="ID")
      each id in ID
        option(value=`${id}`)
    button(type="submit").btn.btn-info.my-1.rounded-pill 日程を編集する
