extends layout

block content
  h3= title
  form(method="post", action="/new")
    div.form-group
      label(for="fixtureId") fixtureId
      input(type="text" name="fixtureId" autocomplete="on" list="ID")#fixtureId
      datalist(id="ID")
        option(value="Lali")
        option(value="Copa")
        option(value="CL")
    div.form-group
      label(for="fixtureDate") fixtureDate
      input(type="datetime-local" name="fixtureDate")#fixtureDate
    div.form-group
      label(for="fixtureSort") fixtureSort
      input(type="text" name="fixtureSort" autocomplete="on" list="SORT")#fixtureSort
      datalist(id="SORT")
    div.form-group
      label(for="homeTeam") homeTeam
      input(type="text" name="homeTeam" autocomplete="on" list="HORM")#homeTeam
      datalist(id="HORM")
    div.form-group
      label(for="awayTeam") awayTeam
      input(type="text" name="awayTeam" autocomplete="on" list="AWAY")#awayTeam
      datalist(id="AWAY")
    div
      button(type="submit") 日程を作成する