body {
  padding-top:4.5rem !important;
}
#sidemenu {
  font-size: 0.875rem !important;
}
#sidemenu ul li {
  list-style: none;
}

li ul {
  margin: 0 0 0 1em;
  padding: 0;
  }

.jumbotron {
  background-color: rgb(255, 247, 153,0.45); /*ライムライト！*/
}